p {
  font-size: 17px;
} 

h2 {
  color:darkblue;
}
        
h3 {
  color:darkblue;
}

td {
  text-align: center; 
}

ul {
  font-size: 17px;
}
        
ol {
  font-size: 17px;
} 

html {
    padding : 25px;
} 

table.tableizer-table {
	    font-size: 16px;
	    margin-left: auto;
  		margin-right: auto;
        border: 1px solid #CCC; 
    } 
    .tableizer-table td {
        padding: 10px;
        margin: 10px;
        text-align: left;
        border: 1px solid #CCC;
    }
    .tableizer-table th {
        padding: 10px;
        margin: 10px;
        text-align: center;
        font-weight: bold;
    }