p {
  font-size: 17px;
} 

h2 {
  color:darkblue;
}
        
h3 {
  color:darkblue;
}

td {
  text-align: center; 
}

ul {
  font-size: 17px;
}
        
ol {
  font-size: 17px;
} 

html {
    padding : 25px;
} 

table.tableizer-table {
	    font-size: 14px;
	    margin-left: auto;
  		margin-right: auto;
      border: 1px solid #CCC; 
    } 
    .tableizer-table td {
        padding: 10px;
        margin: 10px;
        text-align: left;
        border: 1px solid #CCC;
    }
    .tableizer-table th {
        padding: 10px;
        margin: 10px;
        text-align: center;
        font-weight: bold;
    }

    .tableizer-table td.secondrow {
        padding: 10px;
        margin: 10px;
        text-align: center;
        font-weight: bold;
        border: 1px solid #CCC;
    }

.flexWrap {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 90%;
  
}

.flexCol {
  padding: 10px;
  width: 20%;
  margin:auto;
  text-align:left;
}

.flexCol img {
  width: 160px;
  height: 220px;
  display: block;
}

.flexCol2 {
  padding: 10px;
  width: 20%;
  margin:auto;
  text-align:left;
  display: none;
}

.org-name {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 17px;
}

.org-affiliation {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
}

.center-img {
  width: 160px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .flexWrap { flex-wrap: wrap; }
  .flexCol { width: 33.3%; }
  .flexCol2 { width: 33.3%; display: inline; }
}

@media only screen and (max-width: 768px) {
  .flexWrap { flex-wrap: wrap; }
  .flexCol { width: 100%; }
  .flexCol2 { width: 100%; display: none; }
}
